{
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "printWidth": 120,
  "trailingComma": "none",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "experimentalTernaries": true
}