.n-collapse .n-collapse-item:not(:first-child) {
  margin-top: 5px !important;
}

.n-collapse .n-collapse-item .n-collapse-item__header {
  padding: 5px 0 0 0 !important;
}

.n-collapse .n-collapse-item:last-child .n-collapse-item__header {
  padding-bottom: 5px !important;
}

.n-collapse .n-collapse-item .n-collapse-item__content-wrapper .n-collapse-item__content-inner {
  padding-top: 10px !important;
}


.n-list.n-list--bordered .n-list-item, .n-list.n-list--hoverable .n-list-item {
  padding: 4px 8px !important;
}

.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical, .n-scrollbar + .n-scrollbar-rail.n-scrollbar-rail--vertical {
  right: 0 !important;
  top: 1px !important;
  bottom: 1px !important;
}

.n-tab-pane {
  padding: 0 !important;
}

.n-tabs.n-tabs--top .n-tabs-nav-scroll-wrapper.n-tabs-nav-scroll-wrapper--shadow-end::after, .n-tabs.n-tabs--bottom .n-tabs-nav-scroll-wrapper.n-tabs-nav-scroll-wrapper--shadow-end::after {
  box-shadow: none !important;
}

.n-divider__line {
  background-color: #ccc !important;
}


.n-divider:not(.n-divider--vertical) {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.n-divider.n-divider--vertical {
  margin: 0 2px !important;
}

.n-divider.n-divider--vertical, .n-divider__line {
  background-color: #ccc !important;
  margin: 0 2px !important;
}

html.dark {
  .n-divider:not(.n-divider--vertical) .n-divider__line, .n-divider.n-divider--vertical .n-divider__line {
    background-color: #333 !important;
  }

  .n-modal-mask {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}


