@import "tailwind";
@import "variables";
@import "custom";
@import "reset";
@import "table";
@import "splitpanes";

@import 'lucide-static/font/lucide.css';

//.n-base-selection-placeholder {
//  overflow: initial !important;
//}
//

*{ // custom selection colors
  @apply selection:bg-sepia-700/25 selection:dark:bg-ochre-300/15 selection:text-sepia-950 selection:dark:text-ochre-200;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  @apply rounded-full w-[5px] h-[5px];
}
::-webkit-scrollbar-track {
  @apply bg-white/0 dark:bg-white/0 rounded-full;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-500/10 dark:bg-white/5 rounded-full hover:bg-gray-500/20 hover:dark:bg-white/10;
}
.overflow-auto {  // applies a "padding" to the element that will have a scrollbar to avoid layout shift 
  scrollbar-gutter: stable both-edges; 
}

.bg-g-first {
  background: var(--g-first);
}

.bg-g-second {
  background: var(--g-second);
}

.bg-g-third {
  background: var(--g-third);
}

.n-tree .n-tree-node.n-tree-node--highlight .n-tree-node-content .n-tree-node-content__text {
  border-bottom: 0 !important;
}

.n-tree-node-content__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bg-nav-gradient {
  background: var(--bg-nav-dark, rgba(45, 47, 54, 0.63));
}


.base-one-bg {
  background: var(--gaio-one);
  backdrop-filter: blur(17px);
}

.base-one-color {
  color: var(--gaio-one)
}


.gaio-two-color {
  color: var(--gaio-two)
}

.base-three-bg {
  background: var(--gaio-three);
  backdrop-filter: blur(17px);
}

.base-three-color {
  color: var(--gaio-three)
}

body{
  transition: background-color 600ms;
}

.g-wrapper {
  @apply bg-white/15 backdrop-brightness-105 dark:backdrop-brightness-100 backdrop-blur-[5px] dark:bg-white/5;
}

.g-base {
  @apply bg-white/25 backdrop-blur-[5px] dark:bg-white/5;
}

.g-border {
  @apply  dark:border-gray-300/10 border-gray-250 border;
}

div:has(> .n-input-wrapper) {
  @apply backdrop-blur-[5px] ;
}


html {
  --elevation-primary: rgb(230, 159, 105);
  --elevation-primary-hover: rgb(230, 159, 105);
  --elevation-primary-pressed: rgb(210, 139, 85);
  --elevation-primary-supplementar: rgb(250, 179, 125);


}


html.light {
  --elevation-0: #FFFFFF;
  --elevation-1: #F2F2F2;
  --elevation-2: #E6E6E6;
  --elevation-3: #CCCCCC;
  --elevation-4: #B3B3B3;
  --elevation-invert: #282828;
  --prime: hsl(25, 60%, 42%);
  --prime-hover: hsl(26, 62%, 45%);
  --prime-pressed: hsl(25, 60%, 40%);
  --prime-additional: hsl(25, 60%, 53%);
}

html.dark {
  --elevation-0: #141414;
  --elevation-1: #1F1F1F;
  --elevation-2: #282828;
  --elevation-3: #2F2F2F;
  --elevation-4: #393939;
  --elevation-invert: #E6E6E6;
  --prime: hsl(25, 71%, 66%);
  --prime-hover: hsl(25, 71%, 66%);
  --prime-pressed: hsl(25, 58%, 58%);
  --prime-additional: hsl(25, 93%, 74%);
}

.n-button--primary-type.border-elevation-2 {
  border-color: var(--prime-primary-additional) !important;
}


@for $i from 0 through 4 {
  .bg-elevation-#{$i} {
    background-color: var(--elevation-#{$i}) !important;
  }
}

@for $i from 0 through 4 {
  .border-elevation-#{$i} {
    border: 1px solid var(--elevation-#{$i}) !important;
  }
}


.drag-table {
  .sortable-chosen.drag-hide {
    display: none;
  }

  .sortable-drag {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f9f9f9;

    .drag-hide {
      display: none;
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


label {
  &:has(span) {
    @apply flex flex-col gap-1.5;    
    span {
      &:first-child {
        @apply mb-[2px];
      }
    }
  }
}