.core-shadow {
  box-shadow: 0 0 0 1px #e3e1de66, 0 1px 2px #5f4a2e14, 0 4px 6px #5f4a2e0a, 0 40px 40px -24px #684b2514
}

.core-shadow-2 {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12)
}

html.light {
  color: #222222;

  --bg-subprimary: #9a9ca0;
  --bg-preprimary: #f9fafb;
  --bg-primary: #ffffff;
  --bg-secondary: #f1f3f5;
  --bg-tertiary: #f3f4f6;
  --bg-quaternary: #e5e7eb;
  --bg-next: #d1d5db;
  --bg-clean: #dbeafe;
  --bg-bright: #eff6ff;

  --card: linear-gradient(268deg, rgba(255, 255, 255, 0.06) -26.32%, rgba(255, 255, 255, 0.06) -17.16%, rgba(255, 255, 255, 0.03) 49.1%, rgba(255, 255, 255, 0.03) 109.01%);

  .core-gradient {
    background: linear-gradient(268deg, rgba(255, 255, 255, 0.06) -26.32%, rgb(255 255 255 / 39%) -17.16%, rgb(255 255 255 / 37%) 49.1%, rgb(255 255 255) 109.01%);
  }

  .text-base {
    color: #222222;
  }

}

html.dark {
  color: #f2f2f2;

  --bg-subprimary: #151516;
  --bg-preprimary: #181c27;
  --bg-primary: #1b1b1f !important;
  --bg-secondary: #27282d;
  --bg-tertiary: #2e3035;
  --bg-quaternary: #35373c;
  --bg-next: #464b50;
  --bg-clean: #5c6975;
  --bg-bright: #adb1b8;

  --card: linear-gradient(268deg, rgba(255, 255, 255, 0.06) -26.32%, rgba(255, 255, 255, 0.06) -17.16%, rgba(255, 255, 255, 0.03) 49.1%, rgba(255, 255, 255, 0.03) 109.01%);

  .core-gradient {
    background: linear-gradient(
                    268deg,
                    rgba(255, 255, 255, 0.06) -26.32%,
                    rgba(255, 255, 255, 0.06) -17.16%,
                    rgba(255, 255, 255, 0.03) 49.1%,
                    rgba(255, 255, 255, 0.03) 109.01%
    );
  }

  .core-shadow, .core-shadow-2 {
    box-shadow: none;
  }

  .text-base {
    color: #ffffff;
  }


}

